<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f4f4f4;
        }

        .logout{
            position: absolute;
            top: 20px;
            right: 20px;

        }


    </style>
</head>
<body>
    <div class="logout">
        <form action="/" method="get"><input type="submit" value="Logout"> </form>
    </div>
    <h2 style="text-align: center;">All Courses</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Fees</th>
            <th>Duration</th>
            <th style="text-align: center;" colspan="2">Action</th>
        </tr>
        <% courses.forEach(course => { %>
        <tr>
            <td><%= course.Id %></td>
            <td><%= course.Name %></td>
            <td><%= course.Fees %></td>
            <td><%= course.Duration %></td>
            <td><form action="/getUpdateForm/<%=course.Id %>" method="get"><input type="submit" value="Update"> </form></td>
            <td><form action="/delete/<%=course.Id %>" method="get"><input type="submit" value="Delete"></td>
        </tr>
        <% }); %>
    </table>

    <a href="/getFormForAdd">Add</a>
</body>
</html>
